a:link,
a:visited,
a:active,
a:hover
{
    text-decoration: none;

    color: black;
    outline: none;
}


body
{
    position: relative;
    text-align: center;
    min-width: 480px;
    max-width: 1024px;
    margin: auto;
}

h2 {
    margin-bottom: 1em;
}

html.modal-window,
html.modal-window body {
    overflow: hidden;
}

body::after {
    display: block;
    position: fixed;
    content: " ";
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: black;
    opacity: 0;
    visibility: hidden;
    z-index: 8;
    transition: opacity .3s, visibility 0s .3s;
}

html.modal-window body::after {
    display: block;
    position: fixed;
    content: " ";
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: black;
    opacity: 0.5;
    visibility: visible;
    transition-delay: 0s;
    z-index: 8;
}

html.modal-window .modal {
    opacity: 1;
    visibility: visible;
    transition-delay: 0s;
    transform: translate(-50%, -50%);
}

.display-none {
    visibility: hidden;
}